<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaolei.unit.app_movie" >

    <application
        android:name="com.xiaolei.unit.app_movie.MovieApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_no_wifi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
       >

        <activity android:name="com.xiaolei.unit.app_movie.ui.MovieMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
